
<b><h1 class="display-1 text-warning" style="text-align: center">IVOR PAINE MEMORIAL HOSPITAL</h1></b>
<b><h2 class="display-2 text-warning" style="text-align: center">HOME</h2></b>

<div class="list-group">
    <a href="@Url.Action("showReport", "Report1")" class="list-group-item list-group-item-action">Patient Record</a>
    <a href="@Url.Action("showReport", "Report2")" class="list-group-item list-group-item-action">Ward Record</a>
</div>